<div class="intro">
	<p><span class="hello">Hello, </span><span class="seanlin">I'm Sean Lin</span></p>
	<p><span class="developer">Developer</span> <span class="techadvocate">Technology Advocate</span> and </p>
	<p><span class="rpsh">Round Peg in a Square Hole.</span></p>
</div>